.sidenav {
    width: 220px !important;
    /* font-size: 20px !important; */
}

body {
    font-family: 'Mitr', sans-serif;
    font-size: 16px !important;
}

@media only screen and (min-width: 601px) {
    nav {
    height: 50px;
    line-height: 64px;
}
}
nav .brand-logo {
    font-size: 20px !important;
}


.material-tooltip {
    white-space: pre;
    color: #323232 !important;
    background-color: rgb(240, 240, 240) !important;
}

textarea {
    font-family: 'Staatliches', cursive !important;
    font-size: 16px !important;
}

h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 0.52rem 0 -0.088rem 0;
}

.collection.with-header .collection-item {
    padding-left: 3px;
    padding-right: 0px;
}

.chart-container1 {
    position: relative;
    margin: auto;
    height: 40vh;
}

.chart-container2 {
    position: relative;
    margin: auto;
    height: 40vh;
}

.chart-container3 {
    position: relative;
    margin: auto;
    height: 40vh;
}

.chart-container4 {
    position: relative;
    margin: auto;
    height: 40vh;
}

input {
    font-family: 'Mitr', sans-serif;
    font-size: 16px !important;
}

.sidenav li>a {
    font-size: 16px !important;
}

.dashboard {
    padding-left: 220px;
}

.history {
    padding-left: 220px;
}

.alert {
    padding-left: 220px;
}

[type="checkbox"]+span:not(.lever) {
    font-size: 20px;
    padding-top: -10px !important;
}

@media only screen and (max-width: 992px) {
    .dashboard {
        padding-left: 0;
    }
    .history {
        padding-left: 0px;
    }
    .alert {
        padding-left: 0px;
    }
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 95% !important;
}

.GaugeMeter {
    Position: Relative;
    Text-align: Center !important;
    Overflow: Hidden;
    Cursor: Default;
}

.GaugeMeter SPAN,
.GaugeMeter B {
    Margin: 0 23%;
    Width: 54%;
    Position: Absolute;
    Text-align: Center !important;
    Display: Inline-Block;
    Color: RGBa(0, 0, 0, .8);
    Font-Weight: 100;
    Font-Family: "Mitr";
    Overflow: Hidden;
    White-Space: NoWrap;
    Text-Overflow: Ellipsis;
}

.GaugeMeter SPAN {
    font-size: .5em;
    Text-align: Center !important;
}

.GaugeMeter[data-style="Semi"] B {
    Margin: 0 10%;
    Width: 80%;
}

.GaugeMeter S,
.GaugeMeter U {
    Text-Decoration: None;
    Font-Size: .5em;
    margin-top: -20px;
    position: absolute;
    Text-align: Center !important;
}

.GaugeMeter B {
    Color: Black;
    Font-Weight: 300;
    Font-Size: .5em;
    Opacity: .8;
    Text-align: Center !important;
}

.tm1{
    position: fixed;
    top: 157px;
    left: 60px;
    font-size: 13px;
}

.ts1{
    position: fixed;
    top: 154px;
    left: 43px;
    font-size: 13px;
}

.ms1{
    position: fixed;
    top: 154px;
    left: 115px;
    font-size: 13px;
}

.tm2{
    position: fixed;
    top: 70px;
    left: 370px;
    font-size: 13px;
}

.ts2{
    position: fixed;
    top: 67px;
    left: 343px;
    font-size: 13px;
}

.ms2{
    position: fixed;
    top: 68px;
    left: 425px;
    font-size: 13px;
}

.tm3{
    position: fixed;
    top: 548px;
    left: 106px;
    font-size: 13px;
}

.ts3{
    position: fixed;
    top: 437px;
    left: 783px;
    font-size: 13px;
}

.ms3{
    position: fixed;
    top: 438px;
    left: 861px;
    font-size: 13px;
}

.tm4{
    position: fixed;
    top: 441px;
    left: 809px;
    font-size: 13px;
}

.ts4{
    position: fixed;
    top: 544px;
    left: 80px;
    font-size: 13px;
}

.ms4{
    position: fixed;
    top: 545px;
    left: 156px;
    font-size: 13px;
}
#GaugeMeter_1 {
    position: fixed;
    top: 80px;
    left: 30px;
}

#GaugeMeter_2 {
    position: fixed;
    top: 80px;
    left: 120px;
}

#GaugeMeter_3 {
    position: fixed;
    top: 0px;
    left: 345px;
}

#GaugeMeter_4 {
    position: fixed;
    top: 0px;
    left: 435px;
}

#GaugeMeter_5 {
    position: fixed;
    top: 474px;
    left: 80px;
}

#GaugeMeter_6 {
    position: fixed;
    top: 474px;
    left: 170px;
}

#GaugeMeter_7 {
    position: fixed;
    top: 360px;
    left: 780px;
}

#GaugeMeter_8 {
    position: fixed;
    top: 360px;
    left: 870px;
}

.online {
    background-color: green;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    padding: 2px;
    border: solid 2px white;
}

.offline {
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    padding: 2px;
    border: solid 2px white;
}

.status1 {
    position: fixed;
    top: 83px;
    left: 205px;
    cursor: pointer;
}

.status2 {
    position: fixed;
    top: 3px;
    left: 530px;
    cursor: pointer;
}

.status3 {
    position: fixed;
    top: 476px;
    left: 270px;
    cursor: pointer;
}

.status4 {
    position: fixed;
    top: 364px;
    left: 960px;
    cursor: pointer;
}

.statustext {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    /* 0%{opacity: 0;} */
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}