<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="./cpf.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Mitr&display=swap" rel="stylesheet">
  <script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
  <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script> 
  <script src="./GaugeMeter.js"></script> 
  <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
  <title>Phitsanulok Feed mill Dust pm10 & pm2.5</title>
</head>

<body class="grey darken-4">
  
</body>

