<template name="alert">
    {{> navbar}}
    <div class="alert">
        <div class="container">
            <div class="card">
                <div class="card-content ">
                    <div class="row">
                        <div class="col s12">
                            <b>ตั้งค่า LINE TOKEN</b>
                        </div>
                        <div class="col s12">
                            <div class="input-field col s12">
                                <input placeholder="token" id="token" type="text" class="validate"
                                    value="{{setting.linetoken}}">
                                <!-- <label class="active" for="token">LINE TOKEN</label> -->
                            </div>
                        </div>
                        <div class="col s12">
                            <b>ตั้งค่าการแจ้งเตือน</b>
                        </div>
                        <!-- บริเวณโรงสีข้าว -->
                        <div class="col s12">
                            <div class="input-field col s8 l3">
                                <label style="padding-top: 10px;">
                                    <input type="checkbox" {{setting.area1check}} id="area1check" />
                                    <span>PM10 บริเวณโรงสีข้าว</span>
                                </label>
                            </div>
                            <div class="col s4 l4">
                                <div class="input-field col s12">
                                    <input placeholder="" id="place1" type="text" class="validate"
                                        value="{{setting.area1value}}">
                                    <label class="active" for="place1">μg/m3</label>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="input-field col s8 l3">
                                <label style="padding-top: 10px;">
                                    <input type="checkbox" {{setting.area12check}} id="area12check" />
                                    <span>PM2.5 บริเวณโรงสีข้าว</span>
                                </label>
                            </div>
                            <div class="col s4 l4">
                                <div class="input-field col s12">
                                    <input placeholder="" id="place12" type="text" class="validate"
                                        value="{{setting.area12value}}">
                                    <label class="active" for="place12">μg/m3</label>
                                </div>
                            </div>
                        </div>
                        <!-- บริเวณดังดับเพลิง -->
                        <div class="col s12">
                            <div class="input-field col s8 l3">
                                <label style="padding-top: 10px;">
                                    <input type="checkbox" {{setting.area2check}} id="area2check" />
                                    
                                    <span>PM10 บริเวณดังดับเพลิง</span>
                                </label>
                            </div>
                            <div class="col s4 l4">
                                <div class="input-field col s12">
                                    <input placeholder="" id="place2" type="text" class="validate"
                                        value="{{setting.area2value}}">
                                    <label class="active" for="place2">μg/m3</label>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="input-field col s8 l3">
                                <label style="padding-top: 10px;">
                                    <input type="checkbox" {{setting.area22check}} id="area22check" />
                                    <span>PM2.5 บริเวณดังดับเพลิง</span>
                                </label>
                            </div>
                            <div class="col s4 l4">
                                <div class="input-field col s12">
                                    <input placeholder="" id="place22" type="text" class="validate"
                                        value="{{setting.area22value}}">
                                    <label class="active" for="place22">μg/m3</label>
                                </div>
                            </div>
                        </div>
                        <!-- บริเวณหน้าโรงงาน -->
                        <div class="col s12">
                            <div class="input-field col s8 l3">
                                <label style="padding-top: 10px;">
                                    <input type="checkbox" {{setting.area3check}} id="area3check" />
                                    
                                    <span>PM10 บริเวณหน้าโรงงาน</span>
                                </label>
                            </div>
                            <div class="col s4 l4">
                                <div class="input-field col s12">
                                    <input placeholder="" id="place3" type="text" class="validate"
                                        value="{{setting.area3value}}">
                                    <label class="active" for="place3">μg/m3</label>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="input-field col s8 l3">
                                <label style="padding-top: 10px;">
                                    <input type="checkbox" {{setting.area32check}} id="area32check" />
                                    <span>PM2.5 บริเวณหน้าโรงงาน</span>
                                </label>
                            </div>
                            <div class="col s4 l4">
                                <div class="input-field col s12">
                                    <input placeholder="" id="place32" type="text" class="validate"
                                        value="{{setting.area32value}}">
                                    <label class="active" for="place32">μg/m3</label>
                                </div>
                            </div>
                        </div>
                        <!-- บริเวณยานยนต์ -->
                        <div class="col s12">
                            <div class="input-field col s8 l3">
                                <label style="padding-top: 10px;">
                                    <input type="checkbox" {{setting.area4check}} id="area4check" />
                                    
                                    <span>PM10 บริเวณยานยนต์</span>
                                </label>
                            </div>
                            <div class="col s4 l4">
                                <div class="input-field col s12">
                                    <input placeholder="" id="place4" type="text" class="validate"
                                        value="{{setting.area4value}}">
                                    <label class="active" for="place4">μg/m3</label>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="input-field col s8 l3">
                                <label style="padding-top: 10px;">
                                    <input type="checkbox" {{setting.area42check}} id="area42check" />
                                    <span>PM2.5 บริเวณยานยนต์</span>
                                </label>
                            </div>
                            <div class="col s4 l4">
                                <div class="input-field col s12">
                                    <input placeholder="" id="place42" type="text" class="validate"
                                        value="{{setting.area42value}}">
                                    <label class="active" for="place42">μg/m3</label>
                                </div>
                            </div>
                        </div>




                        <div class="col s12">
                            <b>Report</b>
                        </div>
                        <div class="col s12">
                            <div class="input-field col s12">
                                <label style="padding-top: 10px;">
                                    <input type="checkbox" {{setting.avgpm10}} id="avgpm10" />
                                    <span>Averrage PM10</span>
                                </label>
                                <section style="height: 35px;"></section>
                            </div>
                            <div class="input-field col s12">
                                <label style="padding-top: 10px;">
                                    <input type="checkbox" {{setting.avgpm25}} id="avgpm25" />
                                    <span>Averrage PM2.5</span>
                                </label>
                                <section style="height: 35px;"></section>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="input-field col s12 l6">
                                <input type="text" class="timepicker" id="pickertime" value="{{setting.notitime}}">
                                <label class="active" for="pickertime">ทุกๆเวลา</label>
                            </div>
                        </div>
                        <div class="col s12 l12">
                            <br>
                            <center>
                                <button class="btn  waves-effect waves-light btn-large" id="save"><b>save</b></button>
                            </center>
                        </div>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>