<template name="dashboard">
    {{> navbar}}
    <div class="dashboard">
        
        <p style="color: white;font-size: 18px;">Phitsanulok Feed mill Dust pm10 & pm2.5</p>
        <b style="color: white;">Sever Time : {{time}}</b>
        <br>
        <!-- <div class="container"> -->
            <div style="overflow-x:auto;">
                <center>
                    <iframe src="/ddash" frameBorder="0" width="1050" height="620" style="overflow-x:hidden;overflow-Y:hidden;"></iframe>
                </center>
            </div>
        <!-- </div> -->
    </div>
</template>