<template name="ddash">
	<div class="ddash">
		<img src='./pic1.PNG' style="width: 1000px;">

		<div class="GaugeMeter" id="GaugeMeter_1" data-size="90" data-theme="Red-Gold-Green" data-back="Silver"
			data-width="10" data-prepend="PM10" data-style="Arch" data-stripe="0" data-animationstep=3
			data-animate_gauge_colors="1" data-animate_text_colors="1" data-label="μg/m3" data-label_color="#000000"
			data-text_size="0.2" data-fill="#FFFFFF" data-showvalue=0></div>
		<div class="GaugeMeter" id="GaugeMeter_2" data-size="90" data-theme="Red-Gold-Green" data-back="Silver"
			data-width="10" data-prepend="PM2.5" data-style="Arch" data-stripe="0" data-animationstep=3
			data-animate_gauge_colors="1" data-animate_text_colors="1" data-label="μg/m3" data-label_color="#000000"
			data-text_size="0.2" data-fill="#FFFFFF" data-showvalue=0></div>
		<div class="tm1">
			 {{ckecktm tm1.temp}}°C &nbsp;&nbsp;&nbsp;&nbsp; {{ckecktm tm1.humid}}% 
		</div>

		<div class="GaugeMeter" id="GaugeMeter_3" data-size="90" data-theme="Red-Gold-Green" data-back="Silver"
			data-width="10" data-prepend="PM10" data-style="Arch" data-stripe="0" data-animationstep=3
			data-animate_gauge_colors="1" data-animate_text_colors="1" data-label="μg/m3" data-label_color="#000000"
			data-text_size="0.2" data-fill="#FFFFFF" data-showvalue=0></div>
		<div class="GaugeMeter" id="GaugeMeter_4" data-size="90" data-theme="Red-Gold-Green" data-back="Silver"
			data-width="10" data-prepend="PM2.5" data-style="Arch" data-stripe="0" data-animationstep=3
			data-animate_gauge_colors="1" data-animate_text_colors="1" data-label="μg/m3" data-label_color="#000000"
			data-text_size="0.2" data-fill="#FFFFFF" data-showvalue=0></div>
		<div class="tm2">
			 {{ckecktm tm2.temp}}°C &nbsp;&nbsp;&nbsp;&nbsp; {{ckecktm tm2.humid}}%
		</div>

		<div class="GaugeMeter" id="GaugeMeter_5" data-size="90" data-theme="Red-Gold-Green" data-back="Silver"
			data-width="10" data-prepend="PM10" data-style="Arch" data-stripe="0" data-animationstep=3
			data-animate_gauge_colors="1" data-animate_text_colors="1" data-label="μg/m3" data-label_color="#000000"
			data-text_size="0.2" data-fill="#FFFFFF" data-showvalue=0></div>
		<div class="GaugeMeter" id="GaugeMeter_6" data-size="90" data-theme="Red-Gold-Green" data-back="Silver"
			data-width="10" data-prepend="PM2.5" data-style="Arch" data-stripe="0" data-animationstep=3
			data-animate_gauge_colors="1" data-animate_text_colors="1" data-label="μg/m3" data-label_color="#000000"
			data-text_size="0.2" data-fill="#FFFFFF" data-showvalue=0></div>

		<div class="tm3">
			 {{ckecktm tm3.temp}}°C &nbsp;&nbsp;&nbsp;&nbsp; {{ckecktm tm3.humid}}%
		</div>

		<div class="GaugeMeter" id="GaugeMeter_7" data-size="90" data-theme="Red-Gold-Green" data-back="Silver"
			data-width="10" data-prepend="PM10" data-style="Arch" data-stripe="0" data-animationstep=3
			data-animate_gauge_colors="1" data-animate_text_colors="1" data-label="μg/m3" data-label_color="#000000"
			data-text_size="0.2" data-fill="#FFFFFF" data-showvalue=0></div>
		<div class="GaugeMeter" id="GaugeMeter_8" data-size="90" data-theme="Red-Gold-Green" data-back="Silver"
			data-width="10" data-prepend="PM2.5" data-style="Arch" data-stripe="0" data-animationstep=3
			data-animate_gauge_colors="1" data-animate_text_colors="1" data-label="μg/m3" data-label_color="#000000"
			data-text_size="0.2" data-fill="#FFFFFF" data-showvalue=0></div>

		<div class="tm4">
			 {{ckecktm tm4.temp}}°C &nbsp;&nbsp;&nbsp;&nbsp; {{ckecktm tm4.humid}}%
		</div>
	</div>

	<div class="status1 tooltipped" data-position="top" data-tooltip="⌚ {{p1ago}}">{{#if offp1}} <div class="offline ">
			<div class="statustext">Offline</div>
		</div> {{else}} <div class="online">
			<div class="statustext">Online</div>
		</div> {{/if}} </div>
	<div class="status2 tooltipped" data-position="bottom" data-tooltip="⌚ {{p2ago}}">{{#if offp2}} <div
			class="offline">
			<div class="statustext">Offline</div>
		</div> {{else}} <div class="online">
			<div class="statustext">Online</div>
		</div> {{/if}} </div>
	<div class="status3 tooltipped" data-position="top" data-tooltip="⌚ {{p3ago}}">{{#if offp3}} <div class="offline">
			<div class="statustext">Offline</div>
		</div> {{else}} <div class="online">
			<div class="statustext">Online</div>
		</div> {{/if}} </div>
	<div class="status4 tooltipped" data-position="left" data-tooltip="⌚ {{p4ago}}">{{#if offp4}} <div class="offline">
			<div class="statustext">Offline</div>
		</div> {{else}} <div class="online">
			<div class="statustext">Online</div>
		</div> {{/if}} </div>

		<img src="./temp.png" alt="" style="width: 22px;" class="ts1">
		<img src="./humid.png" alt="" style="width: 20px;" class="ms1">
		<img src="./temp.png" alt="" style="width: 22px;" class="ts2">
		<img src="./humid.png" alt="" style="width: 20px;" class="ms2">
		<img src="./temp.png" alt="" style="width: 22px;" class="ts3">
		<img src="./humid.png" alt="" style="width: 20px;" class="ms3">
		<img src="./temp.png" alt="" style="width: 22px;" class="ts4">
		<img src="./humid.png" alt="" style="width: 20px;" class="ms4">

</template>