<template name='devices'>
    <div class="row">
        <div class="col s12 m5 l3">
            <div class="card">
                <div class="card-content">
                    <ul class="collection with-header">
                        <li class="collection-header"><h4>รายการอุปกรณ์</h4></li>
                        {{#each devices}}
                            <li class="collection-item" style="font-size: 18px;">
                                <div>• {{id}}
                                    <a href="#!" class="secondary-content" id="delete" style="color: red;font-weight: bold;">
                                        <i class="material-icons">close</i>
                                    </a>
                                </div>
                            </li>
                        {{/each}}
                        <li class="collection-item">
                            <div class="row">
                                <div class="input-field col s8">
                                    <input id="id_devicce" type="text" class="validate">
                                </div>
                                <div class="input-field col s3">
                                    <button class="btn  waves-effect waves-light" id="add" style="font-weight: bold;">ADD</button>
                                </div>
                            </div>
                        </li>
                      </ul>
                </div>
            </div>
        </div> 
        <div class="col s12 m7 l9">
            <div class="card">
                <div class="card-content">
                    <ul class="collection with-header">
                        <li class="collection-header"><h4>UDP</h4></li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="browser-defaul" rows="5" style="height: 20rem !important;"></textarea>
                                </div>
                            </div>
                        </li>
                      </ul>
                </div>
            </div>
        </div> 
    </div>
</template>