<template name="contents">
    {{> navbar}}
    <div class="alert">
        <div class="container">
            <div class="card">
                <div class="card-content ">
                    <div class="row">
                        <div style="overflow-x:auto;">
                            <center>
                                
                                <img src="aqi.png" style="width: 1100px;"><br>
                                <img src="aqi2.png" style="width: 600px;">
                              
                            </center>
                        </div>
                        <center>
                            <img src="swipe.gif" style="width:70px;" class=" hide-on-large-only">
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>