<template name="history">
    {{> navbar}}
    <div class="history">
        <div class="container">
            <div class="card grey lighten-3">
                <div class="card-content ">
                    <div class="row">
                        <div class="col s12 m12 l6" style="border-style: dotted;border-width: 1px;padding-top: 10px;">
                            <!-- บริเวณโรงสีข้าว -->
                            <div class="row">
                                <div class="col s12 m4">
                                    <input type="text" id="start1" value="{{start1}}" style="margin-top: -10px;">
                                    <input type="text" class="datepicker" id="pickerdate_start1" style="display: none;">
                                    <input type="text" class="timepicker" id="pickertime_start1" style="display: none;">
                                </div>
                                <div class="col s1">
                                    TO
                                </div>
                                <div class="col s12 m4">
                                    <input type="text" id="start2" value="{{start2}}" style="margin-top: -10px;">
                                    <input type="text" class="datepicker" id="pickerdate_start2" style="display: none;">
                                    <input type="text" class="timepicker" id="pickertime_start2" style="display: none;">
                                </div>
                                <div class="col s12 m2">
                                    <center>
                                        <button class="btn  waves-effect waves-light" id="search1">search</button>
                                    </center>
                                </div>
                                <div class="col s1">
                                </div>
                                <div class="col s12">
                                    <div class="chart-container1">
                                        <canvas id="chart1"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m12 l6" style="border-style: dotted;border-width: 1px;padding-top: 10px;">
                            
                            <div class="row" >
                                <div class="col s12 m4">
                                    <input type="text" id="start3" value="{{start3}}" style="margin-top: -10px;">
                                    <input type="text" class="datepicker" id="pickerdate_start3" style="display: none;">
                                    <input type="text" class="timepicker" id="pickertime_start3" style="display: none;">
                                </div>
                                <div class="col s1">
                                    TO
                                </div>
                                <div class="col s12 m4">
                                    <input type="text" id="start4" value="{{start4}}" style="margin-top: -10px;">
                                    <input type="text" class="datepicker" id="pickerdate_start4" style="display: none;">
                                    <input type="text" class="timepicker" id="pickertime_start4" style="display: none;">
                                </div>
                                <div class="col s12 m2">
                                    <center>
                                        <button class="btn  waves-effect waves-light" id="search2">search</button>
                                    </center>
                                </div>
                                <div class="col s1">
                                </div>
                                <div class="col s12">
                                    <div class="chart-container2">
                                        <canvas id="chart2"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m12 l6" style="border-style: dotted;border-width: 1px;padding-top: 10px;">
                            
                            <div class="row">
                                <div class="col s12 m4">
                                    <input type="text" id="start5" value="{{start5}}" style="margin-top: -10px;">
                                    <input type="text" class="datepicker" id="pickerdate_start5" style="display: none;">
                                    <input type="text" class="timepicker" id="pickertime_start5" style="display: none;">
                                </div>
                                <div class="col s1">
                                    TO
                                </div>
                                <div class="col s12 m4">
                                    <input type="text" id="start6" value="{{start6}}" style="margin-top: -10px;">
                                    <input type="text" class="datepicker" id="pickerdate_start6" style="display: none;">
                                    <input type="text" class="timepicker" id="pickertime_start6" style="display: none;">
                                </div>
                                <div class="col s12 m2">
                                    <center>
                                        <button class="btn  waves-effect waves-light" id="search3">search</button>
                                    </center>
                                </div>
                                <div class="col s1">
                                </div>
                                <div class="col s12">
                                    <div class="chart-container3">
                                        <canvas id="chart3"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m12 l6" style="border-style: dotted;border-width: 1px;padding-top: 10px;">
                            
                            <div class="row">
                                <div class="col s12 m4">
                                    <input type="text" id="start7" value="{{start7}}" style="margin-top: -10px;">
                                    <input type="text" class="datepicker" id="pickerdate_start7" style="display: none;">
                                    <input type="text" class="timepicker" id="pickertime_start7" style="display: none;">
                                </div>
                                <div class="col s1">
                                    TO
                                </div>
                                <div class="col s12 m4">
                                    <input type="text" id="start8" value="{{start8}}" style="margin-top: -10px;">
                                    <input type="text" class="datepicker" id="pickerdate_start8" style="display: none;">
                                    <input type="text" class="timepicker" id="pickertime_start8" style="display: none;">
                                </div>
                                <div class="col s12 m2">
                                    <center>
                                        <button class="btn  waves-effect waves-light" id="search4">search</button>
                                    </center>
                                </div>
                                <div class="col s1">
                                </div>
                                <div class="col s12">
                                    <div class="chart-container4">
                                        <canvas id="chart4"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>