<template name="navbar">
    <!-- <div class="navbar-fixed"> -->
        <nav class="pink lighten-1">
            <div class="nav-wrapper ">
                <a href="#" class="brand-logo">
                    <div class="hide-on-small-only" style="padding-left: 150px !important">
                        <img src='cpf.png' class="left" style="height: 60px;margin-left: -20px;margin-top: -4px;">
                        Phitsanulok Feed mill Dust pm10 & pm2.5
                    </div>
                    <div class="show-on-small  hide-on-med-and-up">
                        <img src='cpf.png'  style="height: 70px;margin-top: -6px;">
                    </div>
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    <ul class="sidenav sidenav-fixed" id="mobile-demo">
        <!-- sidenav-fixed -->
        <li>
            <div style="height: 90px;">
                <center>
                    <section style="height: 5px;"></section>
                    <img src="./cpf.png" style="height: 80px;" alt="">
                    
                </center>
            </div>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li class="{{#if dashboard}}active{{/if}}"><a href="/dashboard" id="dashboard">การแสดงผล</a></li>
        <li class="{{#if history}}active{{/if}}"><a href="/history" id="history">ข้อมูลย้อนหลัง</a></li>
        <li class="{{#if alert}}active{{/if}}"><a href="/alert" id="alert">แจ้งเตือน</a></li>
        <li class="{{#if contents}}active{{/if}}"><a href="/contents" id="contents">รายละเอียด</a></li>
    </ul>
</template>